#content{
  padding-top: 1.5em;
  padding-bottom: 4em;
}

/* Color Boards */
.grid-container{
  display: grid;
  grid-template-columns: repeat(13, 2em);
}
.grid-item{
  margin-right: 2px;
  margin-top: 2px;
  border: 1px solid rgb(100, 100, 100, 0);
  text-align: center;
  border-radius: 10%;
  cursor: pointer;
}
.grid-item-today{
  margin-right: 2px;
  margin-top: 2px;
  border: 1px solid orange;
  text-align: center;
  border-radius: 10%;
  cursor: pointer;
}

/* moodArray = ['Amazing','Great','Average','Difficult','Very Though'] */
.moodType-1{
  background-color: #e3ffb0;
  border: 1px solid #292833;
}
.moodType-2{
  background-color: #bae8e8;
}
.moodType-3{
  background-color: #ecffff;
}
.moodType-4{
  background-color: #3aadad;
}
.moodType-5{
  background-color: #292833;
}
